<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.cookit.mapper.MarketMapper">

	<!-- 마켓상품조회 -->
	<select id="selectProduct" resultType="HashMap">
		SELECT *
			FROM product
	</select>

	<!-- 마켓상품등록 -->
	<insert id="insertProduct"> 
		INSERT
			INTO product
			VALUES (
				'code',
				#{product_name}, 
				#{product_category},
				'file',
				#{product_price}
			)
	</insert>
	
	<!-- 마켓상품 파일업로드 -->
	<insert id="insertFile">
	<selectKey keyProperty="file_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(file_idx), 0) FROM file
	</selectKey>
		INSERT
			INTO file
			VALUES (
				#{file_idx} + 1,
				#{file_div},
				#{file_exe},
				#{file_size},
				#{file_name},
				#{file_path}
			)
	</insert>

</mapper>
















