<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cook.cookit.mapper.MemberMapper">

	<select id="checkDupId" resultType="hashmap">
		SELECT member_id
		 FROM member
			WHERE member_id = #{member_id} 
	</select>
	
	<insert id="insertMember">
		INSERT INTO member
			VALUES(
				   #{member_id}
				   , #{member_name}
				   , #{member_passwd}
				   , #{member_address}
				   , #{member_address_detail}
				   , #{member_bday}
				   , #{member_email}
				   , #{member_tel}
				   , '0' -- member_point
				   , 'N' -- member_delete_status
			)
	</insert>

</mapper>
















